.hero-container {
  height: 425px;
  background-image: url("https://source.unsplash.com/random/?stores");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 90px 40px;
  text-align: center;

  .hero-header h1 {
    font-weight: 700;
    font-size: 2.875rem;
    text-shadow: 2px 2px 8px rgb(51 50 95 /40%);
    color: limegreen;
    margin: 0 111px;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
}
