// .App {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   height: calc(100vh - 2px);
//   max-width: 750px;
// }
.navbar-container {
  height: 50px;
  width: 850px;
  background-color: turquoise;
  color: aliceblue;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
img {
  height: 240px;
  width: 240px;
  align-items: center;
  margin: 15px;
}
